/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.login-container {
  /*width: max(50%, min-content);*/
  height: max(200px, 50%);
  margin: auto;
  width: 50%;
}

.workspace-container {
  /*width: max(50%, min-content);*/
  height: max(200px, 50%);
  margin: auto;
  width: max(50%, 640px);
}

a.btn {
  display: inline-block;
  padding: 1rem;
  margin: 1px;
  background: darkorchid;
  color: beige;
  font-size: large;
}

button.google-login {
  background: white;
  font-family: 'Roboto', sans-serif;
  border: none;
}
